* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
  margin-top: -6.5rem;
}

.header {
  background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  padding: 20px;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-control i {
  position: absolute;
  top: 2.2rem;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form button {
  background-color: #fc00ff;
  border: 2px solid #fc00ff;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.form button:hover {
  background-color: #00dbde;
  color: #000;
}

/* Error and Success */
.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}

.footer {
  width: 100%;
  height: 6.5rem;
  font-size: 1.1rem;
  color: #000;
  display: flex;
  box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.5);
  bottom: 0;
  position: absolute;
}

footer .copy {
  margin-left: 7.5rem;
}

footer .powered {
  margin-top: -1.4rem;
  margin-left: 64.5rem;
}

footer .logo-footer {
  width: 9.3rem;
  height: 2rem;
  float: right;
  margin-left: 0.3rem;
  margin-top: -0.1rem;
  cursor: pointer;
}

@media (max-width: 414px) {
  .footer {
    height: 5rem;
    font-size: 0.9rem;
  }

  footer .copy {
    margin-left: 1rem;
  }

  footer .powered {
    margin-top: -1rem;
    margin-left: 12.8rem;
  }

  footer .logo-footer {
    width: 7rem;
    height: 1.5rem;
    margin-top: -0.4rem;
    margin-left: 0.5rem;
  }
} ;
